@font-face {
    font-family: Nyata;
    src: url(NyataFTR-Regular.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    margin: 0;
    font-family: Nyata;
    color:blanchedalmond;
    text-shadow: 2px 2px 2px #010110;
}

/* MENU */
#menu {
    position: fixed;
    background-color: #0101102f;
    padding: 20px;
    padding-left: 150px;
    min-width: 100%;
    z-index: 2;
}

#menuimg {
    position: fixed;
    float: left;
    margin: 0;
    max-height: 50px;
}

#menu a {
    text-decoration: none;
    color:blanchedalmond;
    margin: 20px;
}

/* TITLE */
#title {
    text-align: center;
    min-width: 100%;
    padding-top: 15rem;
}

#title h1 {
    font-size: 10rem;
    margin: 40px 0 40px 0;
    text-shadow: 4px 4px 4px #010110
}

.colorletter {
    color: #f566c3;
}

#title h3 {
    font-size: 1.5rem;
    transform: scale(1, 1.8);
    margin: 20px 0 20px 0;
    font-family: Inter;
}

/* VISION */
#vision {
    display: flex;
    text-align: center;
    min-width: 100%;
    padding-top: 35rem;
    font-size: 1.5em;
}

#vision .leftcol {
    font-size: 3em;
}

#vlink h2 {
    margin-top: 0;
    margin-bottom: 5px;
}

.leftcol {
    min-width: 50%;
    margin-left: 30px;
}

.rightcol {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    margin-right: 30px;
}

.abox {
    background-color:rgba(247, 144, 241, 0.479);
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(247, 144, 241, 0.479);
    padding: .35em;
    margin: 15px 30px 15px 30px;
    text-align:center
}

.abox span {
    padding-bottom: 1em;
}

/* PURPOSE */
#purpose {
    display: flex;
    font-size: 1.5rem;
}

.sectionhead {
    padding-top: 10rem;
    text-align: center;
    font-size: 5rem;
}

#srcs {
    background-color:rgba(247, 144, 242, 0.637);
}

#srcs img {
    max-height: 100px;
    max-width: 24%;
}

.shortlogo {
    margin: 5px 5px 20px 5px;
}

.talllogo {
    margin: 5px 5px 5px 5px;
}

#articles {
    text-align: justify;
}

#articles a {
    font-size: medium;
    margin: 10px 10px;
}

/* FEATURES */
#features {
    display: flex;
    justify-content: center;
}

#features .abox {
    max-width: 25%;
    padding: 1.5rem;
    font-size: 1.1em;
}

#features .abox img {
    max-width: 200px;
}

#features .abox p {
    text-align: justify;
    box-shadow: 1px 1px 1 #010110;
}

/* CONTRIBUTION */
#contribution .abox p {
    text-align: center;
    font-size: large;
}

#contribution .abox img {
    max-width: 200px;
}

/* TEAM MEMBERS */
#teammembers {
    display: flex;
    justify-content: center;
}

#teammembers div {
    padding: 10px;
    margin: 0 10px 0 10px;
}

.profile {
    border-radius: 50%;
    max-width:200px;
}

.abox h4 {
    text-align: center;
}

.abox p {
    text-align: left;
}

.abox a {
    text-decoration: none;
    color: blanchedalmond;
}

/* FORM */
fieldset {
    border: none;
    text-align: left;
    font-size: 2rem;
    margin-left: 2rem;
}

input {
    height: 40px;
    color: blanchedalmond;
    background-color: #5a2347;
    border:none;
    border-radius: 5px;
}

textarea {
    height: 100px;
    width: 70%;
    color: blanchedalmond;
    background-color: #5a2347;
    border:none;
    border-radius: 5px;
}

#theform {
    padding-top: 5rem;
    padding-bottom: 19.3rem;
    min-width: 70%;
    z-index: 1;
}

/* Footer */
#footer {
    text-align:center;
}

#background {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
  
/*
7. New section will say what DeSo is and how we are using it (lots of buzzwords, I can help)
8. Section after DeSo will have a list of features: tipping tutors, outreach, independence (+ graphs)
9. Section after that will focus on philantropy (founders's fund matches 10% of tips and send to educational charities)
12. Lowest part will have a collection of social buttons and stuff
*/